@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background: #ffffff;
  --text: #000000;
  --primary: #007bff;
}

.dark {
  --background: #121212;
  --text: #ffffff;
  --primary: #bb86fc;
}

body {
  background-color: var(--background);
  color: var(--text);
}
